<h1>Welcome to the Pill Tracker</h1>

<p>
  <ul>
    <li><a href="/pills">View Pills</a></li>
    <li><a href="/pills/add">Add a new pill</a></li>
    <li><a href="/users">View Users</a></li>
    <li><a href="/users/add">Add a new user</a></li>
  </ul>
</p>
