<h1>Welcome to the Pill Tracker</h1>

<p>
   <div class="front-card">
       <div class="card-top">
          <img src="/pills.jpg" alt="pills on a blue background">
          <h3><a href="/pills"> <i class="fas fa-pills"></i> View Pills</a></h3>
        </div>
    </div>

   <div class="front-card">
       <div class="card-top">
          <img src="/pills.jpg" alt="pills on a blue background">
          <h3><a href="/pills/add"><i class="fas fa-plus"></i><i class="fas fa-pills"></i> Add a new pill</a></h3>
        </div>
    </div>
</p>
<p>
   <div class="front-card">
       <div class="card-top">
          <img src="/sky.jpg" alt="clouds with rays of the sun ">
          <h3><a href="/users"><i class="fas fa-users"></i> View Users</a></h3>
        </div>
    </div>

   <div class="front-card">
       <div class="card-top">
          <img src="/sky.jpg" alt="clouds with rays of the sun ">
          <h3><a href="/users/add"><i class="fas fa-user-plus"></i> Add a new user</a></h3>
        </div>
    </div>
</p>