<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <title>Pill Tracker</title>
  </head>
  <body>

    <section class="flex-container">
      <header class="flex-item header">
        <nav>
          <ul>
            <li><a title="Home page" href="/"><i class="fas fa-home"></i></a></li>
            <li><a title="View pills" href="/pills"><i class="fas fa-pills"></i></a></li>
            <li><a title="Add a pill" href="/pills/add"><i class="fas fa-plus"></i><i class="fas fa-pills"></i></a></li>
            <li><a title="View users" href="/users"><i class="fas fa-users"></i></a></li>
            <li><a title="Add a user" href="/users/add"><i class="fas fa-user-plus"></i></a></li>
          </ul>
        </nav>
      </header>
      <aside class="flex-item sidebar"></aside>
      <main class="flex-item main"><%= yield %></main>
      <aside class="flex-item sidebar"></aside>
      <footer class="flex-item footer"></footer>
    </section>

  </body>
</html>
