
.front-card { 
  font-family: "Candara", sans-serif;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: inline-grid;
  /* margin-bottom: 1em; */
}

.card { 
  font-family: "Candara", sans-serif;
  width: 250px;
  overflow: hidden;
  background: #2f323a;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: inline-grid;
  margin-bottom: 1em;
}


.card-top img {
  width: 100%;
  height: 160px;

  object-fit: cover;
}

.card-top h3 {
  font-size: 25px;
  color: #fff;
  background: #2f323a;
  z-index: 1;
  position: relative;
  margin-top: -120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
  box-sizing: border-box;
  border: 5px solid #fff;
  margin-bottom: 60px;
}

.card-top h3:hover {
  background: #19B3D3;
}

.card-content h3 {
  font-size: 25px;
  text-align: center;

}

.icons{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
}

.icons a{
  text-decoration: none;
  font-size: 25px;
  color: #0ABDE3;
  padding: 0 10px;
  transition-duration: 0.4s;
  transition-property: transform;
}

.icons a:hover{
  color: #19B3D3;
  transform: scale(1.5);
}

.card-content p {
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 5px 20px 0px 20px;
}

h1 {
  color: #2f323a;
}

   

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}
.flex-item {
  padding: 10px;
  width: 100px;
  color: #0ABDE3;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  background: #fff;
}

ul {
    list-style-type: none;
}

.header {
  flex: 1 100%;
  background: #2f323a;

}

.header a{
  color: #fff;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;

}

.header li {
  display: inline;
}

.header a:hover{
  background: #19B3D3;
}

.footer {
  flex: 1 100%;

}
.footer a {
  color: #fff;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.footer a:hover{
  background: #19B3D3;
}

.sidebar {
  flex: 1;

}

.main {
  flex: 6 0 auto;
}
.main a {
  color: #fff;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.home a{
  color: #fff;
  background: #2f323a;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 40px;
  align-content: space-between;
  transition: 0.5s;
  transition-property: background;

}

.home a:hover{
  background: #19B3D3;
}

.users {
  display: inline-grid;

}
.users a {
  color: #fff;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  background:  #004e64;
  transition: 0.5s;
  transition-property: background;

}

.users a:hover{
  background: #19B3D3;
}

.user_links a {
  font-size: larger;
  color: #2f323a;
  padding-right: 1em;
  padding-left: 1em;
}

.user_links  a:hover {
  color: #19B3D3;
}

.add-form {
  width: 500px;
  margin: 2rem;
  display: inline-block;
}

.add-form label {
  display: inline-block;
  align-content: center;
  width: 100%;
  padding: 1rem 0 0.25rem;
}
.add-form input, select {
  display: inline-block
  align-content: center;
  width: 80%;
  border: 2px solid #2f323a;
  padding: 0.5rem;
  font-size: 18px;
}

#submit-btn {
  border: 0em;
  background: #2f323a;
  color: #fff;
  margin: 1rem;
  padding: 1rem;
  font-size: large;
  border-radius: 40px;
  cursor: pointer;
  width: auto;
  transition: 0.5s;
  transition-property: background;
}

#submit-btn:hover {
  background: #19B3D3;
}
]
