
    <div class="card">
      <div class="card-top">
        <img src="/sky.jpg" alt="clouds with rays of the sun ">
         <h3>You have added</h3>
      </div>
      <div class="card-content">
        <h3><%= @user.username %></h3>
        <h3><%= @user.age %></h3>
      </div>
    </div>