<h2>Add a new user</h2>
<form method="POST" class="add-form" action="/users">

      <label for="username">Name:</label>
      <input type="text" name="username" id="username"/>

      <label for="age">Age:</label>
      <input type="number" name="age" id="age"/>

      <input type="submit" value="Add Users" id="submit-btn"/>

</form>
