<h2>Add a new pill</h2>
<form method="POST" action="/users">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="username">Name:</label>
      <input type="text" name="username" id="username"/>
    </div>

    <div class="form-el">
      <label for="age">Age:</label>
      <input type="number" name="age" id="age"/>
    </div>


    <div class="form-el">
      <input type="submit" value="Add Users"/>
    </div>

  </div>
</form>
