<h1>List of all pills available</h1>

<p>
  <% for pill in @pills %>
    <!--Profile card start-->
      <div class="card">
        <div class="card-top">
          <img src="/pills.jpg" alt="pills on a blue background">
          <h3><a href="/pills/<%= pill.id %>"><%= pill.name %></a></h3>
        </div>
        <div class="card-content">
          <p><%= pill.type %></p>
          <p>Strength: <%= pill.strength %></p>
        </div>
      </div>
      <!--Profile card end-->
  <% end %>
</p>
