<h2>Add a new pill</h2>
<form method="POST" class="add-form" action="/pills">

      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>

      <label for="type">Type</label>
      <input type="text" name="type" id="type"/>

      <label for="strength">Strength</label>
      <input type="text" name="strength" id="strength"/>
  <br>
      <input type="submit" value="Add Pill" id="submit-btn"/>

</form>
