<h3 class="user_links">      
  <a title="Edit the pill" href="/pills/<%= @pill.id %>/edit"><i class="fas fa-edit"></i></a>
</h3>
      <div class="card">
        <div class="card-top">
          <img src="/pills.jpg" alt="pills on a blue background">
          <h3><%= @pill.name %></h3>
        </div>
        <div class="card-content">
          <p><%= @pill.type %></p>
          <p><%= @pill.strength %></p>
          
        </div>
      </div>